name: Security-Audit
on: [push]

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Run Bandit
        # This tells Bandit to only return an error code for HIGH severity issues
        run: |
          pip install bandit
          bandit -r . --severity-level high